<div class="row">
    <div class="input-field col s12">
        <input disabled value="{{ propietario.first_name }} {{ propietario.last_name }}" id="id_nombre" type="text"
            class="validate">
    </div>

    <div class="input-field col s12">
        <input disabled value="{{ propietario.perfil.telefono }}" id="id_telefono" type="text" class="validate">
    </div>

    <div class="input-field col s12">
        <input disabled value="{{ propietario.email }}" id="id_email" type="text" class="validate">
    </div>
</div>